<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Convert AED</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href=<%=symbols%>>
        Convert 1 + @symbols + to + @symbols +...
      </a>
    </li>
</ul>

  </body>
</html>
