<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Convert + <%= @key %> + to + <%= @key%> </h1>

<p>1 <%= @key %> equals 1 <%= @key %></p>

<p>Go <a href="/">back</a>.</p>

  </body>
</html>
