<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Convert + <%= @symboll %> + to + <%= @symboll %> </h1>

<p>1 <%= @symboll %> + equals 1 + <%= @symboll %> + .</p>

<p>Go <a href="/">back</a>.</p>

  </body>
</html>
